.outerDiv {
  background-color: #f0b500;
  width: 155px;
  height: 155px;
  border-radius: 25px;
  z-index: 0;
  overflow: hidden;
}

.wrapperDiv {
  margin-left: 15px;
  margin-top: 15px;
}

.audioPlayer {
  margin-top: 15px;
  width: 90%;
}
