@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap');

.gradient {
  background: rgb(236, 180, 0);
  background: radial-gradient(
    circle,
    rgba(236, 180, 0, 1) 0%,
    rgba(255, 208, 19, 1) 49%,
    rgba(236, 180, 0, 1) 100%
  );
}

/* .container {
  max-width: 1000px;
  width: auto !important;
  margin: auto;
} */

.headerTitle {
  position: absolute;
  top: 15%;
  left: 12%;
  font-family: 'Monofett', cursive;
  color: black;
  padding: none;
  z-index: 1;
}

.mobileHeader h1 {
  text-align: center;
  font-family: 'Monofett', cursive;
  font-size: 80px;
}

.mobileSub {
  margin-top: 10px;
  padding-bottom: 25px;
  font-family: 'Gulzar', serif;
  color: black;
  font-size: 30px;
  text-align: center;
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .headerTitle h1 {
    font-size: 6vw;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .headerTitle h1 {
    font-size: 6vw;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .headerTitle h1 {
    font-size: 6vw;
  }
}

@media screen and (min-width: 1201px) {
  .headerTitle h1 {
    font-size: 6vw;
  }
}

/* .headerTitle h1 {
  font-size: 6vw;
} */

.headerSub {
  position: absolute;
  top: 35%;
  left: 12%;
  width: 30%;
  margin-top: 10%;
  font-family: 'Gulzar', serif;
  color: black;
  padding: none;
  z-index: 1;
}

.headerSub h2 {
  font-size: 2.5vw;
}
