.image1 {
  position: absolute;
  top: 115%;
  left: 12%;
  width: 100%;
  z-index: 1;
}

.episodes {
  margin-top: 25px;
}

.episodes li {
  font-size: x-large;
  font-weight: bold;
  margin-top: 35px;
  margin-left: 25px;
  background-color: #d9d9d9;
  border-radius: 15px;
  width: 600px;
}

.episodes li a {
  font-size: small;
}

.audioPlayer {
  width: 90%;
  margin-top: 5px;
  margin-left: 20px;
}
